@import './normalize.css';
/* site colors */
:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --Very-dark-gray: hsl(0, 0%, 41%);
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
body {
  font-size: 15px;
}
.font-alata {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
}

.font-josefin-sans {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

/*


- Family: [Alata](https://fonts.google.com/specimen/Alata)
- Weight: 400

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weight: 300
*/
